<div class="container_12">
	<div class="grid_6">
		<h1 class="center">Контактная информация</h1>
		<p>Мы находимся в г. Черкассы:<br />
		тел.: +38 (093) 508-97-43<br />
		тел.: (0472) 64-61-10</p>
	</div>
	<div class="grid_6">
		<h1 class="center">Доставка и оплата</h1>
		<p>Доставка по Украине производится УкрПочтой или Новой Почтой. Стоимость доставки оплачиваете отдельно по тарифам курьерской службы (15-20 грн. до склада/почтового отделения в Вашем городе).
		<br />В Черкассах возможен самовывоз.</p>
		<p>Оплата при получении.</p>
		
	</div>
</div>