/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require 960.css
 */
body {
	background-image: url('bg.gif');
}
.title {
	text-align: center;
	color: #E20000;
}
.wrapper {
	border: 1px solid #D5D6D7;
	width: 962px;
	margin: 20px auto;
	background-color: #ffffff;
}
.logo {
	width: 300px;
	margin: 20px auto;
}
.mainnav {
	list-style: none;
	text-align: center;
	background-image: url('navbg.png');
	background-repeat: repeat-x;
	height: 61px;
	margin: 0;
}
.mainnav li {
	display: inline-block;
	margin: 5px 5px;
}
.mainnav li a {
	color: #FFFFFF;
	padding: 15px 10px 18px;
	display: block;
}
.mainnav li a:hover {
	text-decoration: none;
}
.pagecart {
	text-align: center;
	padding: 10px 0;
	border-bottom: 2px solid #E20000;
}
.notice {
	text-align: center;
	padding: 10px 0;
	border-bottom: 2px solid #E20000;
	margin: 0;
}
.pagecart a {
	text-decoration: none;
	border-bottom: 1px solid #39BB00;
	color: #39BB00;
}
.pagecart a:hover {
	border-bottom: 0;
}
.products {
	list-style: none;
	padding: 0;
}
.products li {
	text-align: center;
	width: 215px;
	float: left;
	margin: 10px;
}
.products li a.title {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #D6D6D6;
	font-size: 18px;
	font-family: Georgia, serif;
}
.products li a.title:hover {
	border-bottom: 1px solid #000000;
}
.products li .price {
	display: block;
}
.products li .shortdescr {
	color: #E20000;
}
.products li p {
	margin: 4px 0;
}
.indexadd {
	background-color: #39BB00;
	border: 0;
	color: #ffffff;
	padding: 6px 8px 7px;
	cursor: pointer;
}
.clearcart {
	background-color: #E20000;
	border: 0;
	color: #ffffff;
	padding: 6px 8px 7px;
	cursor: pointer;
}
.showimage {
	text-align: center;
}
.cart {
	list-style: none;
	margin: 0;
	padding: 0;
}
.cart li {
	padding: 5px 0;
	border-top: 1px solid #CCCCCC;
	margin: 0;
}
.cartlink {
	color: #E20000;
	text-decoration: none;
}
.cartlink:hover {
	border-bottom: 1px solid #E20000;
}
#new_order input, #new_order textarea {
	width: 300px;
	margin-left: 70px;
	border: 1px solid #CCCCCC;
	padding: 4px;	
	margin-bottom: 10px;
}

#new_order label {
	margin-left: 70px;
}
#new_order .actions input {
	margin: 0 auto;
	display: block;
	width: 100px;
	padding: 10px;
}
.footer {
	padding: 18px;
	border-top: 2px solid #E20000;
}
