/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require 960.css
 */
body {
	background-image: url('bg.gif');
}
.wrapper {
	border: 1px solid #D5D6D7;
	width: 962px;
	margin: 20px auto;
	background-color: #ffffff;
}
.logo {
	width: 300px;
	margin: 20px auto;
}

.mainnav {
	list-style: none;
	text-align: center;
}
.mainnav li {
	display: inline-block;
	margin: 5px 10px;
}

.products {
	list-style: none;
	padding: 0;
}
.products li {
	text-align: center;
	width: 215px;
	float: left;
	margin: 10px;
}
.products li a.title {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #D6D6D6;
	font-size: 18px;
	font-family: Georgia, serif;
}
.products li a.title:hover {
	border-bottom: 1px solid #000000;
}
.products li .price {
	display: block;
}
.products li .shortdescr {
	color: #E20000;
}
.products li p {
	margin: 4px 0;
}
