<div class="logo">
	<%= link_to image_tag('logo.png') %>
</div>
<ul class="mainnav">
	<li><%= link_to "Главная", root_url %></li>
	<% Value.fav.sorted.each do |v|%>
		<li><%= link_to v.value, v %></li>
	<% end %>
	<li>О нас</li>
</ul>
