<div class="main_top" align="center">
    <div class="header_panel">
      <ul>
        <li class="header_panel_logo">
          <div><a href="http://demo.synergycommerce.ru/"><img alt="Synergy logo" src="/images/logo.png?1337446036"></a></div></li>
        <li class="header_panel_search"><form accept-charset="UTF-8" action="http://demo.synergycommerce.ru/products" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
  <input id="keywords" name="keywords" type="text"><input id="keywords_submit" type="submit" value="Поиск">
</form></li>
        <li class="header_panel_cart">
          <div><a href="/cart" class="full">Корзина (1)</a></div>
        </li>
        <li class="header_panel_compare_product">
            <div><a href="/compare_products" id="compare_products">Сравнение товаров (2)</a></div>
            <div id="tooltip" class="tooltip" style="display: none">
              <div class="tooltip_top"></div>
              <div class="tooltip_middle">
                <div style="font-size: 0px">&nbsp;</div>
                <div class="tooltip_content" id="tooltip_content"><div id="comparable_products_wrapper">
  <h3>Список товаров:</h3>
  <ul id="comparable_products">
    <li id="comp_item_9"><a href="/products/htc-desire">HTC Desire</a> <a href="/compare_products/remove/htc-desire" class="remove-comparable-item" data-remote="true"></a></li><li id="comp_item_10"><a href="/products/htc-desire-hd">HTC Desire HD</a> <a href="/compare_products/remove/htc-desire-hd" class="remove-comparable-item" data-remote="true"></a></li>
  </ul>
  <div style="display: none" class="no_products_message">Вы можете добавить товары к сравнению, воспользовавшись соответствующей ссылкой на странице просмотра товара.</div>
  <div id="compare_products_link"><a href="/compare_products" class="button">Сравнить</a></div>
  <div id="clear_comparable_products_link"><a href="/compare_products/destroy">Очистить список</a></div>
</div></div>
                <div style="font-size: 0px">&nbsp;</div>
              </div>
              <div class="tooltip_bottom"></div>
            </div>
        </li>
      </ul>
    </div>
  </div>